{% extends 'user/back_layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <!--begin::Login-->
    <div class="login wizard d-flex flex-column flex-lg-row flex-column-fluid">
        <!--begin::Aside-->
        <div class="login-aside d-flex flex-column flex-row-auto" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url({% static 'metronic/media/bg/back.png' %})">

            <!--begin::Aside Top-->
            <div class="d-flex flex-column-auto flex-column pt-40">
                <!--begin::Aside header-->
                <a href="/" class="login-logo text-center pt-30 pt-lg-40 pb-10">
                    <img src="{% static 'metronic/media/logos/logo.png' %}" alt=""/>
                </a>
                <!--end::Aside header-->
                <!--begin::Aside Title-->
                <h3 class="font-weight-bolder text-center font-size-h4 text-dark-50 line-height-xl">
                    <br/>
                </h3>
                <!--end::Aside Title-->
            </div>
            <!--end::Aside Top-->

        </div>
        <!--begin::Aside-->

        <!--begin::Content-->
        <div class="login-content flex-column-fluid d-flex flex-column p-10">
            <!--begin::Top-->
            <div class="text-right d-flex justify-content-center">
                <div class="top-forgot text-right d-flex justify-content-end pt-5 pb-lg-0 pb-10">
                    <span class="font-weight-bold text-muted font-size-h4">Having issues?</span>
                    <a href="javascript:" class="font-weight-bold text-primary font-size-h4 ml-2" id="kt_login_signup">Get Help</a>
                </div>
            </div>
            <!--end::Top-->

            <!--begin::Wrapper-->
            <div class="d-flex flex-row-fluid flex-center">

                <!--begin::Forgot-->
                <div class="login-form">
                    <!--begin::Form-->
                    <form class="form" id="kt_user_forgot_form" method="post" action="/user/forgot/">
                        {% csrf_token %}
                        <!--begin::Title-->
                        <div class="pb-5">
                            <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Forgotten Password ?</h3>
                            <p class="text-muted font-weight-bold font-size-h4">Enter your email to reset your password</p>
                        </div>
                        <!--end::Title-->
                        <!--begin::Form group-->
                        <div class="form-group">
                            <input class="form-control h-auto py-5 px-6 border-0 rounded-lg font-size-h6" type="email" placeholder="Email" id="email" name="email"/>
                        </div>
                        <!--end::Form group-->
                        <!--begin::Form group-->
                        <div class="form-group d-flex flex-wrap justify-content-end">
                            <button type="submit" id="kt_user_forgot_form_submit_button" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4">Submit</button>
                            <a href="/user/login" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3">Cancel</a>
                        </div>
                        <!--end::Form group-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Forgot-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
{% endblock %}

{% block script %}
    <!--begin::Page Scripts(used by this page)-->
    <script src="{% static 'metronic/js/pages/user/forgot.js' %}?202102271650"></script>

    {% if result == 'fail' %}
        <script type="text/javascript">
            toastr.error("{{ message }}", "Login Error");
        </script>
    {% endif %}
{% endblock %}