{% load static %}

<!-- Profile Edit Modal-->
<div class="modal fade" id="profile_modal" tabindex="-1" role="dialog" aria-labelledby="profile_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Personal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" novalidate="novalidate" id="kt_personal_information_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="user_id" name="user_id">
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <div class="image-input image-input-empty image-input-outline image-input-circle" id="kt_profile_avatar" style="background-image: url({% static 'metronic/media/users/blank.png' %})">
                                <div class="image-input-wrapper"></div>
                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                    <input type="file" name="avatar" accept=".png, .jpg, .jpeg"/>
                                    <input type="hidden" name="avatar_remove"/>
                                </label>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group row mb-3">
                                <label class="col-form-label col-sm-4 max-w-130px px-0">First Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-lg form-control-solid" id="first_name" name="first_name"/>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-form-label col-sm-4 max-w-130px px-0">Last Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-lg form-control-solid" id="last_name" name="last_name"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-8">
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-form-label col-sm-4 max-w-130px px-0">Email</label>
                        <div class="col-sm-7">
                            <div class="input-group input-group-lg input-group-solid">
                                <input type="hidden" id="email" name="email"/>
                                <input type="email" class="form-control form-control-lg form-control-solid" autocomplete="off" id="add_email" name="add_email" placeholder="Email"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-form-label col-sm-4 max-w-130px px-0">Phone Number</label>
                        <div class="col-sm-7">
                            <div class="input-group input-group-lg input-group-solid">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-phone"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control form-control-lg form-control-solid" id="phone" name="phone" placeholder="Phone Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-form-label col-sm-4 max-w-130px px-0">Date of Birth</label>
                        <div class="col-sm-7">
                            <div class="input-group input-group-solid date">
                                <input type="text" class="form-control datepicker" autocomplete="off" id="birthday" name="birthday" placeholder="January 1, 1950"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-form-label col-sm-4 max-w-130px px-0">Gender</label>
                        <div class="col-sm-7">
                            <div class="radio-inline">
                                <label class="radio">
                                    <input type="radio" name="gender" value="Female"/>
                                    <span></span>Female</label>
                                <label class="radio">
                                    <input type="radio" name="gender" value="Male"/>
                                    <span></span>Male</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-1"></div>
                        <label class="col-form-label col-sm-4 max-w-130px px-0">Address</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control form-control-lg form-control-solid" id="address" name="address"/>
                        </div>
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-sm-1"></div>
                        <label class="col-form-label col-sm-4 max-w-130px px-0">Postal code</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control form-control-lg form-control-solid" id="postal_code" name="postal_code" disabled/>
                        </div>
                        <div class="d-none">
                            <input type="text" id="street_number" name="street_number"/>
                            <input type="text" id="route" name="route"/>
                            <input type="text" id="locality" name="city"/>
                            <input type="text" id="administrative_area_level_1" name="state"/>
                            <input type="text" id="country" name="country"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary font-weight-bold">Add</button>
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
