{% extends 'user/back_layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <!--begin::Login-->
    <div class="login wizard d-flex flex-column flex-lg-row flex-column-fluid">
        <!--begin::Aside-->
        <div class="login-aside d-flex flex-column flex-row-auto" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6)), url({% static 'metronic/media/bg/back.png' %})">

            <!--begin::Aside Top-->
            <div class="d-flex flex-column-auto flex-column pt-40">
                <!--begin::Aside header-->
                <a href="/" class="login-logo text-center pt-30 pt-lg-40 pb-10">
                    <img src="{% static 'metronic/media/logos/logo.png' %}" alt=""/>
                </a>
                <!--end::Aside header-->
                <!--begin::Aside Title-->
                <h3 class="font-weight-bolder text-center font-size-h4 text-dark-50 line-height-xl">
                    <br/>
                </h3>
                <!--end::Aside Title-->
            </div>
            <!--end::Aside Top-->

        </div>
        <!--begin::Aside-->

        <!--begin::Content-->
        <div class="login-content flex-row-fluid d-flex flex-column p-10">
            <!--begin::Top-->
            <div class="text-right d-flex justify-content-center">
                <div class="top-login text-right d-flex justify-content-end pt-5 pb-lg-0 pb-10">
                    <span class="font-weight-bold text-muted font-size-h4">Having issues?</span>
                    <a href="javascript:" class="font-weight-bold text-primary font-size-h4 ml-2" id="kt_login_signup">Get Help</a>
                </div>
            </div>
            <!--end::Top-->

            <!--begin::Wrapper-->
            <div class="d-flex flex-row-fluid flex-center">

                <!--begin::Login-->
                <div class="login-form">
                    <!--begin::Form-->
                    <form class="form" id="kt_user_reset_form" method="post" action="/user/reset/">
                        {% csrf_token %}
                        <input type="hidden" id="uidb64" nam="uidb64" value="{{ uidb64 }}">
                        <input type="hidden" id="token" nam="token" value="{{ token }}">
                        <!--begin::Title-->
                        <div class="pb-5 pb-lg-15">
                            <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Choose your new password</h3>
                        </div>
                        <!--end::Title-->
                        <!--begin::Form group-->
                        <div class="form-group">
                            <label for="password" class="font-size-h6 font-weight-bolder text-dark">New Password</label>
                            <input class="form-control h-auto py-5 px-6 rounded-lg border-0" type="password" id="password" name="password" autocomplete="new-password" value=""/>
                        </div>
                        <!--end::Form group-->
                        <!--begin::Form group-->
                        <div class="form-group">
                            <div class="d-flex justify-content-between mt-n5">
                                <label for="cpassword" class="font-size-h6 font-weight-bolder text-dark pt-5">Confirm Password</label>
                            </div>
                            <div class="row">
                                <div class="col-11">
                                    <input class="form-control h-auto py-5 px-6 rounded-lg border-0" type="password" id="cpassword" name="cpassword" autocomplete="new-password" value=""/>
                                </div>
                                <div class="col-1">
                                    <div class="hide-password">
                                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                            <path d="M10.58,7.25l1.56,1.56c1.38,0.07,2.47,1.17,2.54,2.54l1.56,1.56C16.4,12.47,16.5,12,16.5,11.5C16.5,9.02,14.48,7,12,7 C11.5,7,11.03,7.1,10.58,7.25z"></path>
                                            <path d="M12,6c3.79,0,7.17,2.13,8.82,5.5c-0.64,1.32-1.56,2.44-2.66,3.33l1.42,1.42c1.51-1.26,2.7-2.89,3.43-4.74 C21.27,7.11,17,4,12,4c-1.4,0-2.73,0.25-3.98,0.7L9.63,6.3C10.4,6.12,11.19,6,12,6z"></path>
                                            <path d="M16.43,15.93l-1.25-1.25l-1.27-1.27l-3.82-3.82L8.82,8.32L7.57,7.07L6.09,5.59L3.31,2.81L1.89,4.22l2.53,2.53 C2.92,8.02,1.73,9.64,1,11.5C2.73,15.89,7,19,12,19c1.4,0,2.73-0.25,3.98-0.7l4.3,4.3l1.41-1.41l-3.78-3.78L16.43,15.93z M11.86,14.19c-1.38-0.07-2.47-1.17-2.54-2.54L11.86,14.19z M12,17c-3.79,0-7.17-2.13-8.82-5.5c0.64-1.32,1.56-2.44,2.66-3.33 l1.91,1.91C7.6,10.53,7.5,11,7.5,11.5c0,2.48,2.02,4.5,4.5,4.5c0.5,0,0.97-0.1,1.42-0.25l0.95,0.95C13.6,16.88,12.81,17,12,17z"></path>
                                        </svg>
                                    </div>
                                    <div class="show-password">
                                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                                            <path d="M12,7c-2.48,0-4.5,2.02-4.5,4.5S9.52,16,12,16s4.5-2.02,4.5-4.5S14.48,7,12,7z M12,14.2c-1.49,0-2.7-1.21-2.7-2.7 c0-1.49,1.21-2.7,2.7-2.7s2.7,1.21,2.7,2.7C14.7,12.99,13.49,14.2,12,14.2z"></path>
                                            <path d="M12,4C7,4,2.73,7.11,1,11.5C2.73,15.89,7,19,12,19s9.27-3.11,11-7.5C21.27,7.11,17,4,12,4z M12,17 c-3.79,0-7.17-2.13-8.82-5.5C4.83,8.13,8.21,6,12,6s7.17,2.13,8.82,5.5C19.17,14.87,15.79,17,12,17z"></path>
                                            <path fill="none" d="M0,0h24v24H0V0z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Form group-->
                        <!--begin::Action-->
                        <div class="d-flex justify-content-end pb-lg-0 pb-5">
                            <button type="submit" id="kt_user_reset_form_submit_button" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Save</button>
                        </div>
                        <!--end::Action-->
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
{% endblock %}

{% block script %}
    <!--begin::Page Scripts(used by this page)-->
    <script src="{% static 'metronic/js/pages/user/reset.js' %}"></script>

    {% if result == 'fail' %}
        <script type="text/javascript">
            toastr.error("{{ message }}", "Login Error");
        </script>
    {% endif %}
{% endblock %}
