{% load static %}

{% if user.is_superuser %}
    <!-- Profile Edit Modal-->
    <div class="modal fade" id="permission_modal" tabindex="-1" role="dialog" aria-labelledby="permission_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Permission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_permission_datatable"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary font-weight-bold">Save</button>
                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}