<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <title>One World Family Invoice</title>
</head>

<body style="font-family: ' Roboto', sans-serif; margin: 0; padding: 0; box-sizing: border-box; font-size: 14px; line-height: 140%; background-color: #fafafa;">
<!-- Content Wrapper -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="height: auto; width: 100%; max-width: 12in;
        background: white; overflow-x: hidden; position: relative; margin: auto; overflow-y: hidden;">
    <tbody>
    <tr>
        <td align="center">
            <table style="padding: 0 70px 0 80px; width: 100%; font-weight: normal;">
                <tbody>
                <tr>
                    <td width="100%" align="center">
                        <table width="100%" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td align="center" style="text-align: center;">
                                    <p style="text-align: center; line-height: 16px; color: #454545;">
                                        Thank you for using One World Family.<br/>
                                        Unless we’ve notified you otherwise, this is a statement
                                        explaining cost you have already paid through your automatic payment method.
                                        <!--To change that method,
                                        <a href="" style="color: #e28227; text-decoration-color: #e28227;">click here</a>.
                                        If you wish to cancel your account,
                                        <a href="" style="color: #e28227; text-decoration-color: #e28227;">click here</a>.-->
                                        Please see
                                        <a href="https://oneworldfamily.com/terms-of-service" style="color: #e28227; text-decoration-color: #e28227;">
                                            https://oneworldfamily.com/terms-of-service</a>
                                        for Terms of Service.
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>