<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <title>One World Family Invoice</title>
</head>

<body style="font-family: ' Roboto', sans-serif; margin: 0; padding: 0; box-sizing: border-box; font-size: 14px; line-height: 140%; background-color: #fafafa;">
<!-- Content Wrapper -->
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="height: auto; width: 100%; max-width: 12in;
        border-radius: 5px; background: white; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); overflow-x: hidden; position: relative; border: 2px solid #f0f0f0; margin: auto; overflow-y: hidden;">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 10px; width: 100%; border-spacing: 0;">
                <tbody>
                <tr>
                    <td valign="bottom" style="height: 219px; padding-left: 88px;">
                        <a href="https://oneworldfamily.com">
                            <img width="230" height="80" src="https://app.oneworldfamily.com/static/logo.png" style="height: 80px; width: 230px;">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <table style="margin-top: 0; padding: 0 70px 0 80px; width: 100%; font-weight: normal;">
                <tbody>
                <tr>
                    <td align="right" colspan="2">
                        <h1 style="text-align: right; font-size: 41px; letter-spacing: 10px; color: #e28227; margin: 7px 0;">
                            RECEIPT
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td width="50%" align="left">
                        <table style="width: 100%; color: #353535">
                            <tbody>
                            <tr style="color: #454545">
                                <td>{{ data.payer.business_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ data.payer.full_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ data.payer.address_line1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ data.payer.address_line2 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="50%" align="right">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right" style="text-align: right; color: #908f8f;">
                                    {{ data.invoice_number }}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="text-align: left; color: #353535;">
                                    <b><!--Issued Date--></b>
                                </td>
                                <td align="right" style="text-align: right; color: #908f8f;">
                                    {{ data.date }}
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="text-align: left; color: #353535;">
                                    <b><!--Due Date--></b>
                                </td>
                                <td align="right" style="text-align: right; color: #908f8f;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <table style="padding: 0 70px 0 80px; width: 100%; font-weight: normal;">
                <tbody>
                <tr>
                    <td colspan="2">
                        <h2 align="left" style="padding-bottom: 10px; font-size: 21px; color: #e28227; margin: 7px 0;">
                            Summary
                        </h2>
                    </td>
                    <td style="width: 50%;"></td>
                </tr>
                <tr style="color: #454545">
                    <td><b>Tier Name</b></td>
                    <td style="text-align: right;">{{ data.tier_name }}</td>
                    <td></td>
                </tr>
                <tr style="color: #454545">
                    <td><b>Price Per Tier</b></td>
                    <td style="text-align: right;">${{ data.tier_price }}</td>
                    <td></td>
                </tr>
                <tr style="color: #454545">
                    <td><b>Tier Number</b></td>
                    <td style="text-align: right;">{{ data.tier_number }}</td>
                    <td></td>
                </tr>
                {% if data.donation %}
                    <tr style="color: #454545">
                        <td><b>Donation</b></td>
                        <td style="text-align: right;">${{ data.donation }}</td>
                        <td></td>
                    </tr>
                {% endif %}
                <!--<tr style="color: #e28227; font-weight: bold">
                    <td>Subtotal</td>
                    <td style="text-align: right;">${{ data.subtotal }}</td>
                    <td></td>
                </tr>
                <tr style="color: #454545">
                    <td><b>Sales Tax</b></td>
                    <td style="text-align: right;">${{ data.tax }}</td>
                    <td></td>
                </tr>-->
                <tr style="color: #e28227; font-weight: bold">
                    <td>Total</td>
                    <td style="text-align: right;">${{ data.total }}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            <table style="padding: 0 70px 0 80px; width: 100%; font-weight: normal;">
                <tbody>
                <tr>
                    <td width="100%" align="center">
                        <table width="100%" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td align="center" style="text-align: center;">
                                    <p style="margin-top: 150px; text-align: center; line-height: 16px; color: #454545;">
                                        Welcome to One World Family. This is a statement explaining cost you have already paid through your payment method.<br/>
                                        Please see here for
                                        <a href="https://oneworldfamily.com/terms-of-service" style="color: #e28227; text-decoration-color: #e28227;">Terms of Service</a>.
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>